<?xml version="1.0" encoding="UTF-8"?>
<phpunit>
    <testsuites>
        <testsuite name="TreeTest">
            <directory suffix=".php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>

            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="testdox-text" target="tests/Testdox-Result.txt"/>
        <log type="coverage-html" target="tests/coverage/html"/>
    </logging>
</phpunit>